<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Tourist Journeys</h1>
</header>
<main>
    <div class="container">
        <h2>Attractions</h2>
        <div class="attraction-list">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>City</th>
                    <th>Tags</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attraction : ${attractions}">
                    <td th:text="${attraction.name}">Name</td>
                    <td th:text="${attraction.description}">Description</td>
                    <td th:text="${attraction.city}">City</td>
                    <td>
                        <ul>
                            <li th:each="tag : ${attraction.tags}" th:text="${tag}">Tag 1</li>
                        </ul>
                    </td>
                    <td class="actions">
                        <a class="action-button" th:href="@{/attractions/{name}/tags(name=${attraction.name})}">
                            View Tags
                        </a>
                        <a class="action-button" th:href="@{/attractions/{name}/edit(name=${attraction.name})}">
                            Edit
                        </a>
                        <a class="action-button delete-button" th:href="@{/attractions/{name}/delete(name=${attraction.name})}">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a href="attractions/add" class="action-button"><span>Add Attraction</span></a>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2024 Tourist Journeys. All rights reserved.</p>
</footer>
</body>
</html>