<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Attraction</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <div class="tags-header">
        <h1>Delete Attraction</h1>
    </div>
    <div class="tags-content">
        <p>Are you sure you want to delete the attraction<strong th:text="${attraction.name}">Attraction Name</strong>?</p>
        <form th:action="@{/attractions/{name}/delete(name=${attraction.name})}" method="post">
            <button type="submit">Delete</button>
        </form>
        <a href="/attractions" class="back-link">Cancel</a>
    </div>
</div>
</body>
</html>